.tabulator-moving {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #000;
    cursor: move;
}

.tabulator {
    &.tabulator-block-select, &.hide-ranges {
        .tabulator-range-selected {
            background-color: unset !important;
        }
        .tabulator-range {
            border: 0 !important;
            &:after {
                display: none !important;
            }
            &:before {
                display: none !important;
            }
        }
    }

    &:not(.tabulator-block-select) {
        .tabulator-row {
            &:has(.tabulator-range-selected) {
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
}

.dirty {
    .tabulator {
        &:after {
            content: " ";
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: 0 0 5px 3px rgba(255,0,0,0.25) inset;
            z-index: 100000;
        }
    }
}